# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line
input_grab_mouse_toggle = rctrl
input_player1_a_mbtn = "1"
input_player1_b_mbtn = "2"

input_remapping_directory = "/opt/retropie/configs/cdimono1/"

#include "/opt/retropie/configs/all/retroarch.cfg"
